<h2>{{titulo}}</h2>
<div *ngIf="pelicula">
    <form #peliculaForm="ngForm" (ngSubmit)="guardarCambios()">
        <div class="row">
            <div class="form-group col-6">
                <label for="">Título</label>
                <input type="text" name="titulo" class="form-control" [(ngModel)]="pelicula.titulo">
            </div>
            <div class="form-group col-4">
                <label for="">Director</label>
                <input type="text" name="director" class="form-control" [(ngModel)]="pelicula.director">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <label for="">Género</label>
                <select name="genero" id="" class="form-control" [(ngModel)]="pelicula.genero"
                    (change)="seleccionGenero()">
                    <option *ngFor="let genero of generos" [value]="genero.id_genero">
                        {{genero.descripcion}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row buttons">
            <button type="submit" class="btn btn-primary mr-20">Aceptar</button>
            <button type="button" class="btn btn-info mr-20" (click)="cancelarEdicion()">Cancelar</button>
            <div *ngIf="!peliculaNueva">
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </form>
</div>